
*.bak
Brazilian-Portuguese/.DS_Store
Brazilian-Portuguese/.DS_Store
Brazilian-Portuguese/main/.DS_Store
Brazilian-Portuguese/main/MiuiGallery.apk/.DS_Store
Brazilian-Portuguese/main/MiuiGallery.apk/res/.DS_Store
